/* styles.css */
body {
  background-color: rgb(11, 150, 185);
}

.wrapper{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

#display-project, #display-task{
  text-align: center;
  margin-top: 3em;
}

.project-task-panel {
  padding: 1em;
  margin-bottom: 1em;
}

.project-task-panel .task-form-js {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.project-display-container {
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.project-display-container.active {
  outline: 2px solid white;
  border-radius: 4px;
}

#delete-project-button{
  width: 80px;
  height: 20px;
  background-color: rgb(3, 19, 24);
  color: white;
}

#delete-project-button:active{
  background-color: rgb(3, 49, 61);
  color: white;
  transform: scale(0.94);
}


.task-display-container {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

#delete-task-button{
  width: 80px;
  height: 40px;
  background-color: rgb(3, 19, 24);
  color: white;
}

#delete-task-button:active{
  background-color: rgb(3, 49, 61);
  color: white;
  transform: scale(0.94);
}

.task-display-container.active{
  background-color: rgb(155, 72, 72);
}


